@import './variables.scss';

.actions {
  margin: 12vh 0 4vh;
  position: relative;
  background-image: url('../assets/stockphotos/actionsphoto.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  .actions-content {
    top: 5vh;
    text-align: left;
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;

    .panel {
      height: fit-content;
      color: $black;
      background-color: $mainYellow;
      padding: 2vh 2vw;
      opacity: 0.7;
      transition: 500ms;
      .arrow-right-icon {
        float: right;
      }
    }

    .panel:first-child {
      transform: translateY(-20px);
    }

    .middel {
      margin: 0 4vw;
      transform: translateY(20px);
    }

    .panel:last-child {
      transform: translateY(-5px);
    }

    .panel:hover {
      opacity: 1;
      .arrow-right-icon {
        animation: bounceRight 1500ms;
      }
    }
  }
}

@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(0);
  }
  56% {
    transform: translateX(4px);
  }
}
@media only screen and (max-width: 1000px) {
  .actions {
    .actions-content {
      .panel:last-child {
        visibility: hidden;
        display: none;
      }
    }
  }
}
