@import './variables.scss';

.admin {
  padding: 5vw;

  h1 {
    text-align: left;
  }

  form {
    .name-inputs {
    }
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0;
      span {
        display: flex;
        width: 100%;
        justify-content: space-between;
        input {
          width: 45%;
        }
      }
    }
    div > label:first-child {
      text-align: end;
      min-width: 150px;
      margin-right: 20px;
    }
    div > :not(label:first-child) {
      display: flex;
      width: 100%;
    }
    input[type='text'],
    input[type='submit'],
    select {
      padding: 5px;
      color: $mainYellow;
      background-color: $black;
      border: solid 1px $mainYellow;
      border-radius: 2px;
    }
    input[type='checkbox'] {
      visibility: hidden;
      & + label:hover {
        cursor: pointer;
      }
    }
    input[type='checkbox']:checked + label {
      text-decoration: underline;
    }
    input[type='submit'] {
      width: auto !important;
    }
  }
}
