@import './variables.scss';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
  color: $mainColor;
  header,
  footer {
    text-align: center;
    color: $mainLightGrey;
    padding: 20px 10px;
    background-color: $mainColor;
  }
  footer {
    margin-top: auto;
  }
}
