@import './variables.scss';

.exercises {
  margin: 4vh 4vw;

  .exerciseSearch {
    margin-bottom: 2vh;
  }

  .exerciseSearchBtn {
    margin-bottom: 2vh;
    font-size: 18px;
  }

  .exerciseResult {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 300px);
    .exerciseCard {
      border: 1px solid $border;
      border-radius: 2px;
      box-shadow: $border 2px 5px 10px;
      background-color: $lightSand;
      .exerciseHeading {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid $border;
        background-color: white;
        .exerciseType {
          font-size: 12px;
        }
        .exerciseName {
          font-size: 18px;
        }
      }
      .exerciseMeta {
        padding: 10px;
        font-size: 12px;
        div {
          margin: 2px 0;
        }
        div span {
          font-weight: 400;
        }
      }
    }
  }
}
