$mainColor: #182328;
$mainWhite: hsl(0, 0%, 96%);
$green: hsl(186, 67%, 21%); //#12535a
$lightGreen: hsl(186, 67%, 93%); //#12535a
$sand: hsl(35, 15%, 78%);
$lightSand: hsl(35, 15%, 93%); //#f0eeea
$border: hsl(0, 0%, 85%);

// @mixin box {
//   border: 1px solid $mainBlue;
//   border-radius: 3px;
//   padding: 5px 10px;
//   margin: 5px;
// }
