@import './variables.scss';

.workoutGenerator {
  margin: 4vh 4vw;

  .workoutTypes,
  .workoutFocus,
  .workoutEquipments,
  .workoutDecision {
    margin-bottom: calc(4vh - 15px);
    div[class$='control'] {
      border-color: #8b9193;
    }
    div[class$='multiValue'] {
      background-color: $lightSand;
    }
  }
  .workoutFocus,
  .workoutEquipments {
    .checkBtn {
      margin-top: 15px;
    }
  }
  .workoutDecision {
    padding-top: 4vh;
    border-top: 6px solid $green;
  }
}
