@import './variables.scss';

.workouts {
  margin: 4vh 0;
  padding: 2vh 0;
  background-color: $lightSand;
  //transform: skewY(-5deg);
  min-height: 100px;
  border-bottom: 10px solid $sand;
  ul {
    list-style-type: none;
    //transform: skewY(5deg);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    li {
      padding: 10px;
      min-width: 200px;
      border: 1px solid $border;
    }
  }
}
